*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.container {
    width: 100%;
    height: 700px;
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
}

.grid-item-1 {
    background-color: #EB5020;
    grid-column: span 1;
    width: 400px;
    height: 180px;
}
.grid-item-2 {
    background-color: #FFA401;
    grid-column: 2;
    grid-row: 1;
    width: 250px;
}
.grid-item-3 {
    background-color: #05AA42;
    grid-column: 1;
    width: 300px;
    height: 200px;
}
.grid-item-4 {
     background-color: #01AEFD;
     grid-row: span 4;
     width: 350px;
     height: 93px;
     margin-left: -100px;
}
.grid-item-5 {
    background-color: #01AEFD;
    grid-column: 2;
    grid-row: span 4;
    width: 350px;
    height: 93px;
    margin-top: -134px;
    margin-left: -100px;
}

